addons:
  apt:
    packages:
    - libgmp-dev
after_success:
- sh tools/upload-package.sh
- sh tools/attach-binary.sh
before_install:
- sh tools/install-stack.sh
- sh tools/install-github-release.sh
cache:
  directories:
  - $HOME/.local/bin
  - $HOME/.stack
env:
  global:
  - HACKAGE_USERNAME=fozworth
  - secure: ZiipFVy0jNyCUSRgkiNtzktDMVlfJFcn5Hg+WJy9+tPcc/i3XahGa/WYSr/uCYWRjvuXIoINozmCmp+LHY2MSd7Vy+lWHkKkRbdB58Oq7563dq1kWqQaV428Mfkghw/kuW3+nwYzNnHqXHCOKeL2KkNT4HXdfrqFGWBHJWbgmlbwJtIZP/R1CqGA47Sq2ffPBbxfHH8yQfWm/JDECkhabPONTrOkwhQ/jhWLHvAibP8ESIxbkGLKr4qfcOCqXFrWnhA9yBvpoAClboo4DQeoD+JKsDv049YsfU3b7EIC/ywPASqe6LeJS17A+HTpmqnBF4IvaQaY8lgfeEhGepfo0eajFJyp8nFoM/vSzEVwskCc4kdeqFWaMsTnqLybnREfcRjZL/aGZPBaPZZt9aooIIq3fKOGjcKdfl3ZuehbwDPmOI9cJENa2tHzEVrZmhM6iUhtauqFjlr3DtazGriakbRM+q2Le7OR/YWpOKIQ2dqpcx0XRcdbnGbuTPzZ3NMKfEew3ZzI+S1e+fd37GB1IBTwC5i1MtXq0+/zadkmG6J7V0jgv2Us+FI3WEnJOh3wMQpQ+NwVE5prWDwSWRGDHsGZ1GkBheTFPD+jxMh6lcpxEilgXXIG3FFNSXlGX2oJeBlceO6IfcUtOjYAvNe1jNxZ0FDhzKoOWSxj+TT/PM8=
  - secure: wdb0wwDwN4PSS+TKVetF+A0hFktxXk5BuxzNvdLV7WkLNa5oK4U3Brfrg3lBKShUXswrr0UCovCW2JwfqyTsePJ4sHqFo81oKRc8NWJCQnMBbswp0/015SJPiFFIl0rhpOPzRFcLZFiZiwqZAnMYB1I6X/xgkpuRYylBp8RL+oQNxG5cAxOEjSfU4ppnvOost3QyZM6TzttNBlL6C09/oiv/uPWe4vrwBztauiCVsDTqPCHuJB65LCZzM76noe4JHmWaEbtkyoLP2JK/nl/OGeaOAjHH5PgwQA69k/GKNzfNQnhxMmLUVE6uM0ipzx0avkkBMUAiw9wvyKbqmfPALMjqubXjgYjJLmQXxMsULXHUOmR22lv5BkwQB2b74AxF2Zp//+fqxiu4SQxn1Xy0qxISmBOZvKA1Nfu8fE2bm2YsXpz+NkLy96YseqzT0dY4GOWMoKvM19kEgIuZfVOJBcn6sXdedtm4yFoITru8BsrVeR6/yRYZfhAudau28z/WvSl2wIkw79zx+p9chZge5s0BXRRn+oCkVaX/Nh4SXonmML8SViBzQNNcTVTeRZ15sKjiXuEbPdDdXjqtnvyuwVa0Uqoun6Zg3wgvfkgaYYi+2chFwLzFN5zGqv830rCqH3q7yEttFKRP6TjXcpohfkSrlYfCMkDTEuxN1WLRHag=
language: c
os:
- linux
- osx
script:
- stack setup
- stack build --ghc-options -O2 --only-dependencies --test
- stack build --ghc-options -O2 --pedantic --test --test-arguments '--pattern 29F5'
- stack sdist
